
<ul id="sidebar-nav" >
  <li><a href="/stat_info" style="color:white">System Information</a></li>
  <li><a href="/usage_status" style="color:white">System Usage</a></li>
  <ul>
    <li><a href="/usage_status" style="color:white">Status</a></li>
    <li><a href="/usage_cpu" style="color:white">CPU</a></li>
    <ul>
      <li><a href="/usage_cpu" style="color:white">CPU</a></li>
      <li><a href="/stat_prcs" style="color:white">Processes</a></li>
    </ul>
    <li><a href="/usage_mem" style="color:white">Memory</a></li>
    <li><a href="/usage_tcp" style="color:white">Network (TCP)</a></li>
    <ul>
      <li><a href="/usage_tcp" style="color:white">TCP</a></li>
      <li><a href="/stat_net" style="color:white">Netstat</a></li>
    </ul>
    <li><a href="#" style="color:white">IPCS</a></li>
    <ul>
      <li><a href="/stat_ipcq" style="color:white">Queue</a></li>
      <li><a href="/stat_ipcm" style="color:white">SHM</a></li>
    </ul>
    <li><a href="/usage_disk" style="color:white">Disk</a></li>
    <ul>
      <li><a href="/usage_disk" style="color:white">Disk</a></li>
      <li><a href="/stat_disk" style="color:white">Filesystem</a></li>
    </ul>
  </ul>
</ul>
