<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Server Monitoring</title>


  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="stylesheets/style.css">

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='/socket.io/socket.io.js'></script>

  <script>
    $(document).ready(function(){

      var socket = io();
      socket.connect('http://localhost', {
        'reconnection': true,
        'reconnectionDelay': 500,
        'reconnectionAttempts': 10
      });

      socket.emit('list','stat_info');
      socket.on('message', function (message) {
        $('#model_name').text(message.model_name);
        $('#cpu_MHz').text(message.cpu_MHz);
        $('#cache_size').text(message.cache_size);
        $('#stepping').text(message.stepping);
        $('#vendor_id').text(message.vendor_id);
        $('#bogomips').text(message.bogomips);
        $('#MemTotal').text(message.MemTotal);
        $('#MemFree').text(message.MemFree);
        $('#MemSwap').text(message.MemSwap);

      })
    });

  </script>

</head>

<body>
  <div id="wrapper" >
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <% include ./menu.ejs%>
  </div>
  <!-- Page Content -->
  <div class="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="btn btn-primary" id="menu-toggle">Menu</a>
          <!-- top  -->
          <% include ./top.ejs %>
          <p>System Information</p>
          <!--  -->
        </div>

        <!-- middle -->
        <!--  -->
      </div>

      <div class="container">
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-xs-3">항목</th>
              <th class="col-xs-3">내용</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id = 'test' class="col-xs-3">CPU Model</td>
              <td id = 'model_name' class="col-xs-3"></td>
            </tr>

            <tr>
              <td class="col-xs-3">Frequency</td>
              <td id = "cpu_MHz" class="col-xs-3"></td>
            </tr>
            <tr>
              <td class="col-xs-3">Cache size</td>
              <td id = "cache_size" class="col-xs-3"></td>
            </tr>
            <tr>
              <td class="col-xs-3">Stepping</td>
              <td id = "stepping" class="col-xs-3"></td>
            </tr>
            <tr>
              <td class="col-xs-3">Vendor ID</td>
              <td id = "vendor_id" class="col-xs-3"></td>
            </tr>
            <tr>
              <td class="col-xs-3">Bogomips</td>
              <td id = "bogomips" class="col-xs-3"></td>
            </tr>
            <tr>
              <td class="col-xs-3">Memory (total)</td>
              <td id = "MemTotal" class="col-xs-3"></td>
            </tr>
            <tr>
              <td class="col-xs-3">Memory (free)</td>
              <td id = "MemFree" class="col-xs-3"></td>
            </tr>
            <tr>
              <td class="col-xs-3">Memory (swap)</td>
              <td id = "MemSwap" class="col-xs-3"></td>
            </tr>

          </tbody>
        </table>
      </div>
      <!-- bottom -->
      <!--  -->
    </div>
  </div>

</div>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

  <script src="javascripts/index.js"></script>

</body>
</html>
