<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Server Monitoring</title>


  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="stylesheets/style.css">

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>

    <script>
      $(document).ready(function(){

        var socket = io();
        socket.connect('http://localhost', {
          'reconnection': true,
          'reconnectionDelay': 500,
          'reconnectionAttempts': 10
        });

        socket.emit('list','stat_disk');
        socket.on('message', function (message) {
          for (var i = 0; i < message.length; i++) {
            var tr1 = '<tr>', tr2 = '</tr>',
            fs = '<td>' + message[i].fs + '</td>',
            blocks = '<td>' + message[i].blocks + '</td>',
            used = '<td>' + message[i].used + '</td>',
            available = '<td>' + message[i].available + '</td>',
            us = '<td>' + message[i].us + '</td>',
            mount = '<td>' + message[i].mount + '</td>'
            var result = tr1 + fs  + blocks + used + available + us + mount + tr2;

            $('#mytable > tbody:last').append(result);
          }
        })
      });

    </script>
</head>

<body>
  <div id="wrapper" >
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <% include ./menu.ejs%>
  </div>
  <!-- Page Content -->
  <div class="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="btn btn-primary" id="menu-toggle">Menu</a>
          <!-- top  -->
          <% include ./top.ejs %>
          <p>Disk</p>
          <!--  -->
        </div>
        <!-- middle -->
        <!--  -->
      </div>

      <div class="container">
        <table id="mytable" class="table table-fixed">
          <thead>
            <tr>
              <th class="col-xs-3">Filesystem</th>
              <th class="col-xs-3">Blocks(1M)</th>
              <th class="col-xs-3">Used</th>
              <th class="col-xs-3">Avail</th>
              <th class="col-xs-3">Use(%)</th>
              <th class="col-xs-3">Mount</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <!-- bottom -->
      <!--  -->
    </div>
  </div>

</div>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

    <script src="javascripts/index.js"></script>

</body>
</html>
