<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Server Monitoring</title>


  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='/socket.io/socket.io.js'></script>

  <script>
  $(function(){
    var socket = io();
    socket.connect('http://localhost', {
      'reconnection': true,
      'reconnectionDelay': 500,
      'reconnectionAttempts': 10
    });

    socket.emit('list','stat_net');
    socket.on('message', function (message) {

      for (var i = 0; i < message.tcp.length; i++) {
        var tr1 = '<tr>', tr2 = '</tr>',
        ntype = '<td>' + message.tcp[i].ntype + '</td>',
        lip = '<td>' + message.tcp[i].lip + '</td>',
        lport = '<td>' + message.tcp[i].lport + '</td>',
        rip = '<td>' + message.tcp[i].rip + '</td>'
        rport = '<td>' + message.tcp[i].rport + '</td>',
        st = '<td>' + message.tcp[i].st + '</td>',
        tx_queue = '<td>' + message.tcp[i].tx_queue + '</td>',
        rx_queue = '<td>' + message.tcp[i].rx_queue+ '</td>'
        var result = tr1 + ntype + lip + lport + rip + rport + st +  tx_queue + rx_queue + tr2;
        $('#mytable > tbody:last').append(result);
      };
      for (var i = 0; i < message.udp.length; i++) {
        var tr1 = '<tr>', tr2 = '</tr>',
        ntype = '<td>' + message.udp[i].ntype + '</td>',
        lip = '<td>' + message.udp[i].lip + '</td>',
        lport = '<td>' + message.udp[i].lport + '</td>',
        rip = '<td>' + message.udp[i].rip + '</td>'
        rport = '<td>' + message.udp[i].rport + '</td>',
        st = '<td>' + message.udp[i].st + '</td>',
        tx_queue = '<td>' + message.udp[i].tx_queue + '</td>',
        rx_queue = '<td>' + message.udp[i].rx_queue+ '</td>'
        var result = tr1 + ntype + lip + lport + rip + rport + st +  tx_queue + rx_queue + tr2;
        $('#mytable > tbody:last').append(result);
      };
    })
  });

  </script>

</head>

<body>
  <div id="wrapper" >
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <% include ./menu.ejs%>
  </div>
  <!-- Page Content -->
  <div class="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="btn btn-primary" id="menu-toggle">Menu</a>
          <!-- top  -->
          <% include ./top.ejs %>
          <p>Network TCP</p>
          <!--  -->
        </div>
        <!-- middle -->
        <!--  -->
      </div>

      <div class="container">
        <table id ="mytable" class="table table-fixed">
          <thead>
            <tr>
              <th class="col-xs-3">Type</th>
              <th class="col-xs-3">Local IP</th>
              <th class="col-xs-3">Port</th>
              <th class="col-xs-3">Remove IP</th>
              <th class="col-xs-3">Port</th>
              <th class="col-xs-3">Status</th>
              <th class="col-xs-3">RX</th>
              <th class="col-xs-3">TX</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <!-- bottom -->
      <!--  -->
    </div>
  </div>

</div>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

    <script src="javascripts/index.js"></script>

</body>
</html>
