<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Server Monitoring</title>


  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src='/socket.io/socket.io.js'></script>

  <script type="text/javascript">
        google.charts.load('current', {'callback': init,'packages':['bar']});
        google.charts.setOnLoadCallback(drawStuff);

        const mother = 1000000000;//1G BIT = 1000000kbyte =  1000000000 byte

        function init () {
          var socket = io();
          socket.connect('http://localhost', {
            'reconnection': true,
            'reconnectionDelay': 500,
            'reconnectionAttempts': 10
          });

          // socket.emit('join','stat_prcs');
          socket.emit('clientQuery','usage_status');
          socket.on('serverSent', function (message) {

            drawStuff(message)
          });
        }
        function drawStuff(message) {
          var data = new google.visualization.arrayToDataTable([
            ['Move', 'Percentage'],
            ["CPU Usage", message[0][0].cpup ],
            ["Memory Usage", message[1][0].memp ],
            ["Network Usage", (message[2][0].rcv + message[2][0].snd) / mother],
            ["Disk Usage", message[3][0].diskp],
            ["sysvIPC Count", message[4][0].qnum]
          ]);

          var options = {
            width: 800,
            legend: { position: 'none' },
            chart: {
              title: 'System Usage - Status',
              subtitle: 'percentage' },
            axes: {
              x: {
                0: { side: 'top', label: 'The current state of the server'} // Top x-axis.
              }
            },
            bar: { groupWidth: "90%" }
          };

          var chart = new google.charts.Bar(document.getElementById('top_x_div'));
          // Convert the Classic options to Material options.
          chart.draw(data, google.charts.Bar.convertOptions(options));
        };
      </script>

</head>

<body>
  <div id="wrapper" >
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <% include ./menu.ejs%>
  </div>
  <!-- Page Content -->
  <div class="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="btn btn-primary" id="menu-toggle">Menu</a>
          <!-- top  -->
          <% include ./top.ejs %>
          <p>Status</p>
          <!--  -->
        </div>
        <!-- middle -->

        <!--  -->
      </div>
      <div id="top_x_div" style="width: 800px; height: 450px;"></div>
      <!-- bottom -->
      <!--  -->
    </div>
  </div>

</div>
\<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

    <script src="javascripts/index.js"></script>

</body>
</html>
