<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Server Monitoring</title>


  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='/socket.io/socket.io.js'></script>
  <script type="text/javascript">
    google.charts.load('current', {'callback': init, 'packages':['annotationchart']});
    google.charts.setOnLoadCallback(drawChart);

    function init () {
      var socket = io.connect();

      // socket.emit('join','stat_prcs');
      socket.emit('clientQuery','usage_cpu');
      socket.on('serverSent', function (message) {
        // alert(JSON.stringify(message));
        // var processData = processData(message);
        drawChart(message);
      });
    }
    function drawChart(message) {

      var idate = message[0].idate;
      var year = idate.substr(0,4);
      var month = idate.substr(5,2);
      var date = idate.substr(8,2);;
      alert(idate);
      // var month = idate.getMonth();
      // var day = idate.getDate();
      // var hour = idate.getHours();
      // var minute = idate.getMinutes();

      var data = new google.visualization.DataTable();

      data.addColumn('date', 'Date');
      data.addColumn('number', 'Kepler-22b mission');
      data.addColumn('string', 'Kepler title');
      data.addColumn('string', 'Kepler text');

      data.addRows([
        [new Date(2314, 02, 15,10,30), 7, 'node atom sshd', '10 20 30']

      ]);

      var chart = new google.visualization.AnnotationChart(document.getElementById('chart_div'));

      var options = {
        displayAnnotations: true
      };

      chart.draw(data, options);
    }
  </script>
</head>

<body>
  <div id="wrapper" >
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <% include ./menu.ejs%>
  </div>
  <!-- Page Content -->
  <div class="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="btn btn-primary" id="menu-toggle">Menu</a>
          <!-- top  -->
          <% include ./top.ejs %>
          <p>CPU</p>
          <!--  -->
        </div>
        <!-- middle -->
        <!--  -->
      </div>

      <div id="chart_div" style='width: 900px; height: 500px;'></div>

      <!-- bottom -->
      <!--  -->
    </div>
  </div>

</div>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

<script src="javascripts/index.js"></script>

</body>
</html>
