<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Server Monitoring</title>


  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src='/socket.io/socket.io.js'></script>
  <script type="text/javascript">
  google.charts.load('current', {'callback': init, 'packages':['annotationchart']});
  google.charts.setOnLoadCallback(drawChart);

function init () {
  var socket = io.connect();

  // socket.emit('join','stat_prcs');
  socket.emit('clientQuery','agentmemory');
  socket.on('serverSent', function (message) {
    // alert(JSON.stringify(message));
    // var processData = processData(message);
    drawChart(message);
  });
}
function drawChart(message) {
  var us,swap;

  var result = [];
  var arr = [];

  for (var i = 0; i < message.length; i++) {

    var time = utcToKst(message[i].idate);


    us = message[i].us;
    swap = message[i].swap;

    arr=[new Date(year, month, date, hour, minute), us,undefined,undefined,swap,undefined,undefined];
    result.push(arr);
  }

  var data = new google.visualization.DataTable();

  data.addColumn('date', 'Date');
  data.addColumn('number', 'Memory Usage');
  data.addColumn('string', 'memory title');
  data.addColumn('string', 'memory text');
  data.addColumn('number', 'Swap');
  data.addColumn('string', 'swap title');
  data.addColumn('string', 'swap text');


  data.addRows(result);

  var chart = new google.visualization.AnnotationChart(document.getElementById('chart_div'));

  var options = {
    displayAnnotations: true
  };

  chart.draw(data, options);
}
  </script>
</head>

<body>
  <div id="wrapper" >
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <% include ./menu.ejs%>
  </div>
  <!-- Page Content -->
  <div class="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="btn btn-primary" id="menu-toggle">Menu</a>
          <!-- top  -->
          <% include ./top.ejs %>
          <p>Memory</p>
          <!--  -->
        </div>
        <!-- middle -->
        <!--  -->
      </div>

      <div id="chart_div" style='width: 900px; height: 500px;'></div>

      <!-- bottom -->
      <!--  -->
    </div>
  </div>

</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

<script src="javascripts/index.js"></script>

</body>
</html>
